<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.pdfbox" level="ERROR"/>
    <logger name="org.springframework.jdbc" level="DEBUG"/>
    <logger name="org.springframework.transaction" level="DEBUG"/>
    <logger name="org.hibernate.engine.jdbc.batch.internal.BatchingBatch" level="DEBUG"/>
    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="info"/>
    <logger name="org.springframework.security.config.debug.SecurityDebugBeanFactoryPostProcessor" level="error"/>


    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>