<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          rel="stylesheet">
    <title>Train Driver helper</title>
</head>

<body>
<div class="container">
    <h1>Train Driver helper!</h1>
</div>
<br>
<div class="row mt-3">
    <div class="col-md-4">
        <a class="btn btn-danger" role="button" th:href="@{/}">Go back to the main page</a>
    </div>
</div>
<br>

<h2>Actual WOS files by regions:</h2>
<div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>region</th>
            <th>actual WOS</th>
            <th>WOS link</th>
            <th>line</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="warning : ${warningsList}">
            <td th:text="${warning.zlkRegionNumber}"></td>
            <td th:text="${warning.actualWOS}"></td>
            <td th:text="${warning.actualWOSlink}"></td>
            <td th:text="${warning.line}"></td>
        </tr>
    </table>
</div>
</body>
</html>